# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv
venv

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/
stl2scad.code-workspace 

# Other common files
.DS_Store
*.log
*.csv
*.json
*.lock
*.sqlite
*.stl
*.scad.clinerules-architect
.clinerules-ask
.clinerules-code
memory-bank/
