# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv
venv

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/
stl2scad.code-workspace

# clinerules
.clinerules*

# debug logs and created files
debug*.log
debug*.scad
debug*.png
debug*.echo
debug*.txt
debug*.json

output*.log
output*.scad
output*.png
output*.echo
output*.txt
output*.json

# Other common files
.DS_Store
*.log
*.csv
*.json
*.lock
*.sqlite
*.stl
*.scad.clinerules-architect
.clinerules-ask
.clinerules-code
memory-bank/
